# Binaries and compiled output
*.exe
*.exe~
*.dll
*.so
*.dylib
travelsphere
/TravelSphere
main

# Test binaries & coverage
*.test
*.out
coverage.txt
coverage.html
cov

# Secrets & environment 
.env
.env.local
*.env
conf/app.conf

# ignore project document
document.txt
/data/